<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Coworking, Office Sharing &amp; Hotdesk{% endblock %} >> Subspace</title>
    <meta name="viewport" CONTENT="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="robots" CONTENT="index,follow"/>

    <!-- Latest compiled and minified JS from Assetic -->
    {% javascripts '@SubspaceCustomerBundle/Resources/public/js/*' %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- Latest compiled and minified CSS from Assetic -->
    {% stylesheets '@SubspaceCustomerBundle/Resources/public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- Load fonts from external sources -->
    <script src="https://use.fontawesome.com/af95f059e7.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- Header/Navbar -->
<div class="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Left Hand Nav -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('root') }}">SUBSPACE</a>
      </div>
        <!-- Right Hand Nav -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
							<li><a href="{{ path('tour') }}">Discover</a></li>
							<li><a href="{{ path('locations') }}">Spaces</a></li>
              <li><a href="/login">Login</a></li>
							<li><a href="{{ path('root') }}">Sign Up</a></li>

							<li class="dropdown account-link">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="img/pro-pic.png" />  Hugh Crawford <span class="caret"></span></a>
			          <ul class="dropdown-menu">
									<li><a href="{{ path('root') }}">Dashboard</a></li>
									<li><a href="{{ path('root') }}">Profile</a></li>
									<li><a href="{{ path('root') }}">Bookings</a></li>
									<li><a href="{{ path('root') }}">Messages {% if messages %}[{{messages|length}}]{% endif %}</a></li>
									<li><a href="{{ path('root') }}">Settings</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="{{ path('root') }}">Manage Spaces</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="{{ path('root') }}">Sign Out</a></li>
			          </ul>
			        </li>
						</ul>
          </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</div><!-- /.Header/Navbar -->


{% block mainContainer %}{% endblock %}



<!--- Javascipt -->
    <!--- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    {% javascripts '@SubspaceCustomerBundle/Resources/public/js/*' %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">

    //Bootstarp Components
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            });

    //Smooth Scroll
        $(function() {
          $('a[href*="#"]:not([href="#"])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html, body').animate({
                  scrollTop: target.offset().top
                }, 500);
                return false;
              }
            }
          });
        });
   </script>
</body>
</html>
